//Default font-size
$body-font: 16;

//Colors
$searchLine:linear-gradient(to bottom, hsl(143, 45%, 18%) 20%,hsl(0, 68%, 44%));
$blackDarkToLight:linear-gradient(to right, hsl(210, 6%, 7%) 50%, hsl(210, 3%, 16%));
$white:hsl(0, 0%, 100%);
$gray:hsl(0, 0%, 30%);
$lightGray:hsl(0, 0%, 95%);
$darkGray:hsl(0, 0%, 45%);
$black:hsl(0, 0%, 0%);
$lightBlack: hsl(0, 0%, 10%);
$yellow:hsl(39, 49%, 49%);
$cyan:hsl(231, 51%, 55%);
$lightBlue:hsl(200, 60%, 43%);

